.appointment-page {
    
  min-height: 100vh;
  background-color: #f8fafc;
}

.appointment-hero {
  background: linear-gradient(
    135deg,
    #0f4c81,
    #1e5fa8
  );
  color: white;
  text-align: center;
  padding: 40px 20px;
  line-height: 25px;
}

.appointment-hero-content h1 {
  font-size: 2rem;
  margin-bottom: 12px;
}

.appointment-hero-content p {
  font-size: 14px;

}

/* Main Container */

.appointment-container {
  max-width: 1280px;
  margin: auto;
  padding: 28px 20px;
}

/* Breadcrumb */

.breadcrumb {
  margin-bottom: 40px;
  color: #0f172a;
  font-size: 0.95rem;
  font-weight: 600;
}

/* Search */

.search-container {
  margin-bottom: 20px;
}

.search-input {
  width: 100%;
  padding: 7px 16px;
  border-radius: 12px;
  border: 1.5px solid #dbe2ea;
  font-size: 14px;
  outline: none;
}

.search-input:focus {
  border-color: #0f4c81;
}

/* Department Section */

.speciality-heading {
  display: flex;
  align-items: center;
  gap: 10px;

  margin-bottom: 24px;
}

.speciality-badge {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background: #eaf3ff;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #2563eb;
  flex-shrink: 0;
}

.speciality-heading h2 {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 5px;

  color: #0f172a;
}

.department-grid {
  display: grid;
  grid-template-columns:repeat(auto-fill, minmax(140px, 1fr));
  gap: 18px;
}

/* ===================================
   LAPTOP
=================================== */

@media (max-width: 1200px) {

  .appointment-container {
    max-width: 100%;
    padding: 24px;
  }
}

/* ===================================
   TABLET
=================================== */

@media (max-width: 992px) {

  .appointment-hero {
    padding: 32px 20px;
  }

  .appointment-hero-content h1 {
    font-size: 1.8rem;
  }

  .department-grid {
    grid-template-columns:
      repeat(auto-fill, minmax(130px, 1fr));
  }
}

/* ===================================
   MOBILE
=================================== */

@media (max-width: 768px) {

  .appointment-container {
    padding: 20px 16px;
  }

  .appointment-hero {
    padding: 28px 16px;
  }

  .appointment-hero-content h1 {
    font-size: 1.5rem;
  }

  .appointment-hero-content p {
    font-size: 13px;
  }

  .breadcrumb {
    font-size: 13px;
  }

  .speciality-heading h2 {
    font-size: 13px;
  }

  .department-grid {
    grid-template-columns:
      repeat(auto-fill, minmax(120px, 1fr));

    gap: 14px;
  }
}

/* ===================================
   SMALL MOBILE
=================================== */

@media (max-width: 480px) {

  .appointment-container {
    padding: 16px 12px;
  }

  .appointment-hero-content h1 {
    font-size: 1.3rem;
  }

  .department-grid {
    grid-template-columns:
      repeat(2, 1fr);

    gap: 12px;
  }
}