
/* ==========================
   HERO OVERLAY
========================== */

.hero-overlay {
  position: absolute;
  inset: 0;
  z-index: 5;
  pointer-events: none;
  background:
    linear-gradient(
      to bottom,
      rgba(8, 15, 25, 0.85) 0%,
      rgba(8, 15, 25, 0.72) 8%,
      rgba(8, 15, 25, 0.55) 18%,
      rgba(8, 15, 25, 0.32) 32%,
      rgba(8, 15, 25, 0.15) 50%,
      transparent 75%
    );
}

/* ==========================
   HERO SECTION
========================== */

.hero-section {
  background: #081019;
  position: relative;
  height: 90vh;
  min-height: 600px;;
  overflow: hidden;
}
.hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform-origin: center center;
}
.hero-slide {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: opacity 2.5s ease-in-out;
}
.hero-slide.active {
  opacity: 1;
}

/* =========================
    Quick Access Section 
============================*/

.quick-access {
  display: grid; 
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  background: #fff;
  border-top: 1px solid #e5e7eb;
  border-bottom: 1px solid #e5e7eb;
}
.quick-links {
  padding: 1.46rem 6rem;
  display: flex;
  text-decoration: none;
  color: #334155;
  border-right: 1px solid #e5e7eb;
  transition: all 0.3s ease;
  gap: 2rem;
}
.quick-text{
  margin-left: -1rem;
}
.quick-icon{
  margin-left: 60px;
  padding: 1px;
  color: #0F2744;
  transition: all 0.3s ease;
}
.quick-arrow {
  margin-left: -15px;
  transition: all 0.3s ease;
}
.quick-links:hover {
  background-color: #f6faff;
  box-shadow: inset 0 0 0 1px #cbd5e1;
}
.quick-links:hover .quick-icon {
  color: #0056D6;
  transform: scale(1.15);
}
.quick-links:hover .quick-text {
  color: #0056D6;
}
.quick-links:hover .quick-arrow {
  color: #0056D6;
  transform: translateX(6px);
}
.quick-links:active {
  transform: scale(0.97);
  color: red;
}

/* =============
    EXPERTISE
================ */

.exp{
  padding-bottom: 60px;
  background-color: var(--exp-background-color);
}
.exp-header{
  text-align: center;
  padding-top: 60px;
}
.exp-header h1 {
  font-size: 35px;
  font-weight: 600;
  color: #0f3b6e;
  padding-top: 12px;
  letter-spacing: -1px;
}
.exp-header span {
  font-size: 0.9rem;
  color: #64748b;
  font-weight: 400;
}
.exp-body {
  max-width: 1100px;
  margin: 45px auto;
}
.exp-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 10px;
}
.exp .department-card {
  height: 150px;
}

.exp-footer {
  display: flex;
  justify-content: center;
  margin: 20px 0px 0px 0px;
}

.exp-all-btn {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 20px;
  border-radius: 999px;
  border: 1px solid #d3e0ef;
  background: white;
  color: #0f3b6e;
  font-size: 0.9rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.exp-all-btn:hover {
  background: #0f3b6e;
  color: white;
  border-color: #0f3b6e;

  transform: translateY(-3px);
  box-shadow: 0 12px 25px rgba(15, 59, 110, 0.18);
}

.exp-all-btn:active {
  transform: scale(0.97);
}

/* ================
    ADVERTISEMENT
=================== */

.advertisement{
  padding:94px 0;
  background:
  linear-gradient(
    135deg,
    #0b3f7c 0%,
    #1d4f91 40%,
    #2563eb 70%,
    #0d3769 100%
  );
}

.top-showcase{
  width:90%;
  max-width:1400px;
  margin:auto;

  display:grid;
  grid-template-columns: 0.9fr 1.3fr;
  gap:40px;

  align-items:stretch;
}

.advertisement-image{
  position:relative;
  overflow:hidden;
  border-radius:8px 70px 8px 50px;
  height:452px;
}
.advertisement-image::after{
  content:"";

  position:absolute;
  inset:0;

  background:
  linear-gradient(
    90deg,
    rgba(6,53,105,.15),
    transparent 40%
  );

  pointer-events:none;
}

.advertisement-image img{
  width:100%;
  height:100%;
  position:relative;
  object-fit:cover;

  display:block;

  /* border-radius:24px; */

  box-shadow:
  0 20px 40px rgba(15,59,110,.12);
}
.advertisement-image::before{
  content:"";

  position:absolute;

  inset:-40px;

  background:
  radial-gradient(
    circle,
    rgba(96,165,250,.35),
    transparent 70%
  );

  z-index:-1;
}

.bottom-description{
  width:90%;
  max-width:1400px;

  margin:15px auto 0;

  text-align:center;
}

.bottom-description h2{
  font-size:44px;
  color:#ffffff;
  text-shadow:0 2px 10px rgba(0,0,0,.15);
  margin-bottom:25px;
  line-height:1.2;
}

.typewriter-box{
  background:
  rgba(255,255,255,.08);

  backdrop-filter:blur(12px);

  -webkit-backdrop-filter:blur(12px);

  border:
  1px solid rgba(255,255,255,.15);

  box-shadow:
  0 10px 30px rgba(0,0,0,.08);

  border-radius:50px 10px 50px 10px;

  padding:35px;
}

.typewriter-box p{
  font-size:18px;
  color: rgba(255,255,255,.85);

  line-height:2;
}


/* ==========================
   HERO ANIMATION
========================== */
.aerial-animation {
  animation: aerialDrone 16s ease-in-out infinite;
  will-change: transform;
}
@keyframes aerialDrone {

  0% {
    transform:
      scale(1.05)
      translateX(0%)
      translateY(0%);
  }

  25% {
    transform:
      scale(1.08)
      translateX(1%)
      translateY(-0.3%);
  }

  50% {
    transform:
      scale(1.12)
      translateX(2%)
      translateY(-0.8%);
  }

  75% {
    transform:
      scale(1.08)
      translateX(1%)
      translateY(-0.3%);
  }

  100% {
    transform:
      scale(1.05)
      translateX(0%)
      translateY(0%);
  }
}

.entrance-animation {
  animation: entrancePush 16s ease-in-out infinite;
  will-change: transform;
}
@keyframes entrancePush {

  0% {
    transform:
      scale(1.05)
      translateY(0%);
  }

  25% {
    transform:
      scale(1.08)
      translateY(-0.2%);
  }

  50% {
    transform:
      scale(1.12)
      translateY(-0.8%);
  }

  75% {
    transform:
      scale(1.08)
      translateY(-0.2%);
  }

  100% {
    transform:
      scale(1.05)
      translateY(0%);
  }
}

/* ==========================
   RESPONSIVE
========================== */

@media (max-width: 992px) {
  .hero-content h1 {
    font-size: 3.5rem;
  }
  .hero-stats {
    flex-wrap: wrap;
  }

  .quick-access {
    grid-template-columns: repeat(2, 1fr);
  }
  .quick-links {
    padding: 1.25rem 2rem;
  }
  .quick-icon {
    margin-left: 0;
  }

  .top-showcase{
    grid-template-columns:1fr;
  }
  .hospital-terminal{
    height:auto;
  }
  .advertisement-image{
    height:400px;
  }
  .bottom-description h2{
    font-size:38px;
  }
}

@media (max-width: 768px) {
  .hero-content h1 {
    font-size: 2.7rem;
  }
  .hero-buttons {
    flex-direction: column;
  }
  .hero-stats {
    flex-direction: column;
  }

  .quick-access {
    grid-template-columns: 1fr;
  }
  .quick-links {
    padding: 1.25rem 1.5rem;
    gap: 1rem;
  }
  .quick-text {
    font-size: 0.95rem;
  }
  .quick-arrow {
    margin-left: auto;
  }

  .advertisement-image{
    height:300px;
  }
  .bottom-description h2{
    font-size:30px;
  }
  .typewriter-box{
    padding:20px;
  }
  .typewriter-box p{
    font-size:16px;
  }
}