.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5882c2;
}

.login-box {
  width: 350px;
  padding: 30px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-box h1 {
  text-align: center;
  margin-bottom: 20px;
}

.login-box form {
  display: flex;
  flex-direction: column;
}

.login-box input {
  margin-bottom: 15px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-box button {
  padding: 12px;
  border: none;
  background-color: #2563eb;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.login-box button:hover {
  background-color: #1d4ed8;
}