@import "tailwindcss";
:root {
  --primary: #0f4c81;
  --primary-light: #3b82f6;
  --secondary: #14b8a6;
  --background: #f8fafc;
  --surface: #ffffff;
  --text-dark: #1e293b;
  --text-light: #64748b;
  --topbar-height: 38px;
  --navbar-height: 57px;
  --font-size: 14px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background: var(--background);
  color: var(--text-dark);
}
